@model IEnumerable<VeterinarskaStanica.Models.IzvrseneUsluge>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.RacuniId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UslugeId)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.RacuniId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UslugeId)
            </td>
            <td>
                <a class="btn btn-default" data-ajax="true" data-ajax-begin="onAjaxBegin" data-ajax-complete="onAjaxComplete" data-ajax-method="GET" data-ajax-mode="replace" data-ajax-update="ajaxpozivKorisnici" href="">Edit</a>
                @*@Ajax.ActionLink("Izmijeni", "Edit", new { id = item.Id }, new AjaxOptions { UpdateTargetId = "ajaxpozivKorisnici" }, new { @class = "btn btn-default" })*@

            </td>
        </tr>
    }

</table>