@model VeterinarskaStanica.Areas.ModulTehnickoOsoblje.Models.DefinisaneTerapije

<h2>Dodavanje</h2>
<form asp-area="ModulTehnickoOsoblje" asp-controller="DefinisaneTerapije" asp-action="Obrisi" data-ajax="true" data-ajax-method="post" data-ajax-update="#ajaxpozivNalozi">
   
    @if (TempData["Message"] != null)
    {
    <div>
        <h3>@TempData["Message"]</h3>
    </div>
    }
    @Html.AntiForgeryToken()


    <div>
        <h4>Definisane terapije</h4>
        <hr />
        <div class="form-group">

            <div class="col-md-10">
                @Html.DropDownListFor(model => model.Id, Model.listaDefinisanihTerapija.Select(model => new SelectListItem
                {
                    Value = model.Id.ToString(),
                    Text = model.Id.ToString()
                }).ToList(), null, htmlAttributes: new { @class = "form-control" })
            </div>
        </div>

        <div class="form-actions no-color">
            <input type="submit" value="Obriši" class="btn btn-default" />

        </div>
    </div>

    </form>