@model VeterinarskaStanica.Areas.ModulAdmin.Models.DeleteVM

<form asp-area="ModulAdmin" asp-controller="Tehnicko_osoblje" asp-action="Obrisi" data-ajax="true" data-ajax-method="post" data-ajax-update="#ajaxpozivKorisnici">

    @if (TempData["Message"] != null)
    {
        <div>
            <h3>@TempData["Message"]</h3>
        </div>
    }
    @Html.AntiForgeryToken()

    <div>
        <h4>Tehničko osoblje </h4>
        <hr />
        <div class="form-group">

            <div class="col-md-10">
                @Html.DropDownListFor(model => model.Tehnicko_osobljeId, Model.listaTehnicara.Select(model => new SelectListItem
           {
               Value = model.Id.ToString(),
               Text = model.Ime
           }).ToList(), null, htmlAttributes: new { @class = "form-control" })
            </div>
        </div>

        <div class="form-actions no-color">
            <input type="submit" value="Obriši" class="btn btn-default" />

        </div>
    </div>
</form>